.edit{
    cursor: pointer;
}
.row{
    margin: 2%;
}
.dashboad-view{
    margin:20px;
}
mdb-card-body{
    background: #ff5252;
    color: white;
    border-radius: 5px;
}
.custom-alert{
    position: absolute;
    width: 72%;
    margin-top: 2px;
    text-align: center;
    font-weight: 400;
}