
.container{
   padding: 35px 25%;
}
.row{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

  .invalid{
    border-bottom: 3px solid #a94442; /* red */
  }
  .invalid-signup{
    border: 2px solid #a94442; /* red */
  }

  .custom-p {
    color: red;
    text-transform: capitalize;
    margin-top: 10px;
  }
  
  //[ngStyle]="{'border-bottom':email.valid ? '3px solid #42A948': '3px solid #a94442'}"
