<div class="row">
  <div class="container">
    <!-- Material form login -->
    <div class="form" *ngIf="loginSignupStatus" >
      <mdb-card>

        <mdb-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>Login</strong>
          </h5>
        </mdb-card-header>

        <app-loader></app-loader>
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">

          <!-- Form -->
          <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" class="text-center"
            style="color: #757575;">
          <p class="custom-p">{{invalidUser.error}}</p>
            <!-- Email -->
            <div class="md-form">
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{ 'invalid' : (loginForm.submitted ||  username.touched ) && username.invalid }" [(ngModel)]="loginData.username" #username="ngModel" name="username"
                id="materialLoginFormEmail" class="form-control" ngModel mdbInput required>
              <label for="materialLoginFormEmail">E-mail</label>
            </div>

            <!-- use when apply custom validations <p *ngIf="loginForm.submitted && email.invalid "
           class="alert alert-danger">
            Name is required
            </p>
            -->

            <!-- Password -->
            <div class="md-form">
              <input type="password" [ngClass]="{ 'invalid' : (loginForm.submitted ||  password.touched ) &&  password.invalid }" [(ngModel)]="loginData.password" #password="ngModel" name="password" id="materialLoginFormPassword"
                class="form-control" mdbInput required>
              <label for="materialLoginFormPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around">
              <div>
                <!-- Remember me -->
                <mdb-checkbox>Remember me</mdb-checkbox>
              </div>
              <div>
                <!-- Forgot password -->
                <a >Forgot password?</a>
              </div>
            </div>

            <!-- Sign in button -->
            <button mdbBtn  color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
              mdbWavesEffect type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
              <a  (click)="signupStatus()" style="color: #014c8c" >Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" mdbBtn floating="true" color="fb" size="sm">
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="tw" size="sm">
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="li" size="sm">
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
            <a type="button" mdbBtn floating="true" color="git" size="sm">
              <mdb-icon fab icon="github"></mdb-icon>
            </a>

          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->

    </div>

   <div *ngIf="!loginSignupStatus" class="form">
<!-- Default form register -->
<mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Sign up</strong>
        </h5>
      </mdb-card-header>
<form #signupForm="ngForm" (ngSubmit)="signupForm.form.valid && signUp()" class="text-center border border-light p-5" action="#!" style="background: white">

  <div class="form-row mb-4">
      <div class="col">
          <!-- First name -->
          <input name="firstname" type="text" [ngClass]="{ 'invalid-signup' : (signupForm.submitted ||  firstname.touched ) && firstname.invalid }" [(ngModel)]="signupData.firstname" #firstname="ngModel"
          id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" required>
      </div>
      <div class="col">
          <!-- Last name -->
          <input type="text" name="lastname" [ngClass]="{ 'invalid-signup' : (signupForm.submitted ||  lastname.touched ) && lastname.invalid }" [(ngModel)]="signupData.lastname" #lastname="ngModel"
          id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" required >
      </div>
  </div>

  <!-- E-mail -->
  <input type="email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
   [ngClass]="{ 'invalid-signup' : (signupForm.submitted ||  email.touched ) && email.invalid }" [(ngModel)]="signupData.email" #email="ngModel"  id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required>

  <!-- Password -->
  <input type="password" name="password" id="defaultRegisterFormPassword"  class="form-control" 
  [ngClass]="{ 'invalid-signup' : (signupForm.submitted ||  password.touched ) && password.invalid }"
   [(ngModel)]="signupData.password" #password="ngModel"
   placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
     
  </small>

  <!-- Address -->
  <input type="text" name="address" [ngClass]="{ 'invalid-signup' : (signupForm.submitted ||  address.touched ) && address.invalid }" [(ngModel)]="signupData.address" #address="ngModel"
   id="defaultRegisterPhonePassword" class="form-control" placeholder="address" aria-describedby="defaultRegisterFormPhoneHelpBlock" required>
 


  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  <!-- Register -->
  <p>Already a member?
    <a  (click)="signupStatus()" style="color: #014c8c" >Login</a>
  </p>
  <!-- Social register -->
  <p>or sign up with:</p>

  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-facebook-f"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-twitter"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-linkedin-in"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-github"></i>
  </a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->

</mdb-card>
   </div>

  
  </div>


</div>

