<div class="row">
    <img src="../assets/image/b3.jpg"  class="img-fluid" alt="Responsive image">
  </div>

<div class="container">
<!-- Section: Blog v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row" *ngFor="let blog of blogs; let i = index">
  
      
      <!-- Grid column -->
      <div class="col-lg-5" *ngIf="i<1">>
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" *ngIf="blog.imgUrl" src={{blog.imgUrl}} alt="Sample image">
          <img class="img-fluid" *ngIf="!blog.imgUrl" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7"   *ngIf="i< 1">
  
        <!-- Category -->
        <a href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{blog.title}} </strong></h3>
        <!-- Excerpt -->
        <p >{{blog.description |  slice:0:270 }}</p>
       
        <p>by <a><strong>{{blog.author}}</strong></a>, {{blog.created_date | date}}</p>
        <!-- Read more button --> 
        <a mdbBtn color="success" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row" *ngFor="let blog of blogs ; let i = index">
  
      <!-- Grid column -->
      <div class="col-lg-7" *ngIf="i>0 && i<2">
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon far icon="image" class="pr-2"></mdb-icon>Travel</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{blog.key}}{{blog.title}}</strong></h3>
        <!-- Excerpt -->
        <p>{{blog.description | slice:0:270}}</p>
        <!-- Post data -->
        <p>by <a><strong>{{blog.author}}</strong></a>, {{blog.created_date | date}}</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5" *ngIf="i>0 && i<2">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
            <img class="img-fluid" *ngIf="blog.imgUrl" src={{blog.imgUrl}} alt="Sample image">
            <img class="img-fluid" *ngIf="!blog.imgUrl" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row" *ngFor="let blog of blogs; let i = index">
  
      <!-- Grid column -->
      <div class="col-lg-5"  *ngIf="i>1 && i<3"> >
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
            <img class="img-fluid" *ngIf="blog.imgUrl" src={{blog.imgUrl}} alt="Sample image">
            <img class="img-fluid" *ngIf="!blog.imgUrl" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7" *ngIf="i>1 && i<3"> 
  
        <!-- Category -->
        <a href="#!" class="indigo-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="suitcase" class="pr-2"></mdb-icon>Lifestyle</h6>
        </a>
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>{{blog.title}}</strong></h3>
        <!-- Excerpt -->
        <p> {{blog.description | slice:0:270}}</p>
       
        <p>by <a><strong>{{blog.author}}</strong></a>,  {{blog.created_date | date}}</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->

</div>