<div class="container">

    <div class="jumbotron">
        <div class="profile z-depth-2" style="background: #33b5e5">
            <p>Profile</p>
        </div>
        <div class="text-center">

            <!--Avatar-->
            <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle">
            </div>

            <!-- user name-->

            <h4 class="name">Martha Smith</h4>
            <hr>
            <!--Quotation-->
            <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eos,
                adipisci
            </p>

        </div>

        <!--button-->
        <div class="text-center">
            <a mdbBtn color="warning" size="lg" routerLink="/home" role="button" mdbWavesEffect>Cancel</a>
            <a mdbBtn color="default" size="lg" (click)="logout()" role="button" mdbWavesEffect>Logout</a>
        </div>

    </div>
</div>